html
  head
    title  Pancake Uploader 
    link(rel='stylesheet', href='/css/page_style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    #banner
      a#web_icon(href='/')
        img(src='/images/page_icon.svg', style='height: 100%; display: inline-block;')
        img(src='/images/page_name.svg', style='height: 100%; display: inline-block;')
      table#tabs
        tr(style='line-height: 100%;')
          td#single_tab
            a(href='/')  Home 
          td#single_tab
            a(href='/about.htm')  About 
          td#single_tab
            a(href='/contact.htm')  Contact 
    #contents
      div(style='height: 100%; width: 100%;')
        fieldset
          h1  Pancake Uploader 
          p
            b  No account required! Fast, easy file sharing website. 
          br
          br
          form(action='upload', method='post', enctype='multipart/form-data')
            h1  Upload 
            #fake_input_file(href='#', onclick="document.getElementById('fileID').click(); return false;")  Choose your file 
            input#fileID(type='file', name='file', multiple='')
            input(type='submit', value='Submit')

