html
  head
    style(type="text/css").
      html {
        background-color: #AA6C39;
      }
      body {
        background-color: #FFEFE1;
        padding: 1em 1em;
        border-radius: 1em;
        margin: 2em auto;
      }
      @media screen and (min-width: 480px) {
        body {
          max-width: 50%;
        }
      }
  body
    p Your file has been uploaded successfully.
    p Short link: #{shortlink}
    p Alternative link: #{link}
