body {
	background-color: #EEEEEE;
	font-family: sans-serif;
	min-width: 512px;
	margin: 0;
}

td > a {
	display: flex;
	height: 100%;
	align-items: center;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: none !important;
	font-family: sans-serif;
	font-size: 24px;
	color: white;
}

p {
	font-size: 24px;
	font-family: sans-serif;
	margin: 4px;
}

fieldset {
	font-family: sans-serif;
	margin-top: 8px;
	margin-bottom: 16px;
	padding-top: 8px;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 16px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	background-color: #FAFAFA;
}

legend {
	font-family: sans-serif;
	font-size: 48px;
	font-weight: bolder;
	background: transparent;
}

h1 {
	color: #3B5998;
	font-family: sans-serif;
	margin: 4px;
	font-weight: bolder;
}

#banner {	
	top: 0;
	max-height: 64px;
	height: 64px; 
	width: 100%; 
	padding: 8px;
	margin-top: 0px;
	margin-bottom: 8px;	
	position: relative;
	box-shadow: 0px 4px 2px #607D8B;
	background-color: #3B5998;
}

#web_icon {
	height: 100%;
	display: inline-block;
	margin-left: 5%;
}

#tabs {
	height: 100%;
	margin-right: 5%;
	float: right;
	padding: 0;
}

#single_tab {
	height: 100%;
	border-radius: 8px;
}

#single_tab:hover {
	background-color: #0D47A1;
}

#contents {
	min-height: 80%;
	padding: 4px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 16px;
	text-align: center;
	position: relative;
}

#foot_note {
	font-size: 16px;
	font-style: italic;
}

#link_box {
	width: 50%; 
	height: 24px;
	padding: 16px;
	background-color: #F5F5F5;
	display: inline-block;
	border-color: black; 
	border-style: solid; 
	border-width: 2px;
}

#link_box:hover {
	background-color: #EEEEEE;
}

#shorten_link {
	color: black; 
	font-size: 24px;
}

#contact_icon {
	font-size:48px; 
	color:#3B5998;
}

#fake_input_file {
	height: 256px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #F5F5F5;
	font-family: sans-serif;
	padding-left: 32px;
	padding-right: 32px;
	margin-top: 16px;
	border-radius: 32px;
	font-size: 24px;
	vertical-align: middle;
	border-style: dashed;
	line-height: 256px;
	text-align: center;
}

#fake_input_file:hover {
	background-color: #EEEEEE;
}

input[type=file] {
	position: absolute;
	top: 0;
	visibility: hidden;
}

input[type=submit] {
	font-family: sans-serif;
	background-color: #F5F5F5;
	margin-top: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 32px;
	padding-right: 32px;
	font-size: 24px;
	border-radius: 24px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

input[type=submit]:hover {
	background-color: #E0E0E0;
}